body {
    background-image: url('download.jfif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    resize: both;
    overflow: auto;
}
table#t01 caption {
    color: blue;
    background-color: aliceblue;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
table#t01 th {
  color: white;
  background-color: black;
}